- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/user.show.css', :type => 'text/css', :media => 'all'}

#content
  %h1
    %span= @user.first_name
    %span= @user.last_name
  #about
    %h2 Find out more about me here:
    - unless @user.twitter.length < 1 
      #twitter
        %h3 Twitter
        %p 
          %a{:href => 'http://twitter.com/'+@user.twitter, :target => 'blank'} http://twitter.com/#{@user.twitter}
    - unless @user.github.length < 1        
      #github
        %h3 Github
        %p
          %a{:href => 'http://github.com/'+@user.github, :target => 'blank'} http://github.com/#{@user.github}
    - unless @user.personal.length < 1
      #personal
        %h3 Personal website
        %p 
          %a{:href => 'http://'+@user.personal, :target => 'blank'} http://#{@user.personal}
  - unless @user.interests.nil?
    #interests
      %h2 I'm curious about:
      %ul
      - @user.interests.sort! { |a,b| a <=> b}.each do |interest|
        %li
          %a{:href => '/tags/'+interest}= interest
  - unless @user.expertise.nil?
    #expertise
      %h2 I've experience in: 
      %ul
      - @user.expertise.sort! { |a,b| a <=> b}.each do |experience|
        %li
          %a{:href => '/tags/'+experience}= experience